[submodule "oot3d-decomp"]
	path = oot3d-decomp
	url = https://github.com/SomeoneIsWorking/oot3d-decomp.git
[submodule "mm3d-decomp"]
	path = mm3d-decomp
	url = https://github.com/SomeoneIsWorking/mm3d-decomp.git
[submodule "Shipwright/libultraship/extern/StormLib"]
	path = Shipwright/libultraship/extern/StormLib
	url = https://github.com/SomeoneIsWorking/StormLib.git
	branch = zelda3d
[submodule "Shipwright/ZAPDTR"]
	path = Shipwright/ZAPDTR
	url = https://github.com/SomeoneIsWorking/ZAPDTR.git
	branch = zelda3d
